{% extends "layout.html" %}


{% block title %}
Add Event
{% endblock %}


{% block content %}
{{ super() }}

    <div class="container">

        <form action="" method="post">
            
            <div class="form-group">
                <label for="id">Event ID</label>
                <input name="eventid" type="id" class="form-control" id="id" placeholder="Enter event id">
            </div>

            
            <div class="form-group">
                <label for="exampleInputEmail1">Event Name</label>
                <input name="eventname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter event name">
            </div>

            <div class="form-group">
                <label for="range">Team Size</label>
                <input name="teamsize" type="number" min="1" max="6" class="form-control" id="range" aria-describedby="emailHelp" placeholder="Enter team size">
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    

	
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    

    <script>
        CKEDITOR.replace('text');
    </script>
	
{% endblock %}