{% extends "layout.html" %}



{% block title %}
Dashboard
{% endblock %}

{% block metas %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block content %}
{{super()}}
<div class="container">
  <h3>Tz paid Registrations</h3>
  <canvas id="tzusers" width="10" height="10"></canvas>
  <br><br>
    <div class="container">
        <h3>RGUKTN paid Registrations</h3>
        <canvas id="tzrguktnusers" width="10" height="10"></canvas>
        <br><br>
        <h3>RGUKTN  Year wise paid registrations</h3>
        <canvas id="tzrguktnyear" width="10" height="10"></canvas>
        <br><br>
    </div>
  <h3>Workshops paid Registrations</h3>
  <canvas id="workshops" width="10" height="10"></canvas>
  <br><br>

</div>




<script type="text/javascript">
  var ctx = document.getElementById('tzusers');
  var regChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['RGUKT-N', 'RGUKT-ONG', 'RGUKT-SKLM', 'RGUKT-RKV', 'OTHER'],
        datasets: [{
            label: 'Tz Registrations',
            data: [{{ tz_users.rguktn }}, {{ tz_users.rguktong }}, {{ tz_users.rguktsklm }}, {{ tz_users.rguktrkv }}, {{ tz_users.other }} ],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
            ],
            hoverOffset: 4
        }]
    }
  });

var ctx = document.getElementById('tzrguktnusers');
  var rguktnChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['CSE', 'ECE', 'MME', 'CIV', 'MEC', 'CHE', 'PUC','OTHER'],
        datasets: [{
            label: 'RGUKTN Registrations',
            data: [{{ rguktn_data.cse }}, {{ rguktn_data.ece }}, {{ rguktn_data.mme }}, {{ rguktn_data.civ }}, {{ rguktn_data.mec }}, {{ rguktn_data.che }}, {{ rguktn_data.puc }} , {{ rguktn_data.other }} ],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgba(200, 102, 255)',
                'rgba(153, 102, 62)',
                'rgba(54, 190, 255)',
            ],
            hoverOffset: 4
        }]
    }
  });


var ctx = document.getElementById('tzrguktnyear');
  var rguktnChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['PUC1', 'PUC2', 'E1', 'E2', 'E3', 'E4'],
        datasets: [{
            label: 'RGUKTN Year wise Registrations',
            data: [
            {{ rguktn_year.puc1 }},
            {{ rguktn_year.puc2 }},
            {{ rguktn_year.e1 }},
            {{ rguktn_year.e2 }},
            {{ rguktn_year.e3 }},
            {{ rguktn_year.e4 }} 
            ],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgba(200, 102, 255)',
                'rgba(153, 102, 62)',
                'rgba(54, 190, 255)',
            ],
            hoverOffset: 4
        }]
    }
  });



var ctx = document.getElementById('workshops');
  var rguktnChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
        {% for workshop in workshops %}
        "{{workshop[0].title}}",
        {% endfor %}
        ],
        datasets: [{
            label: 'Workshops Registrations',
            data: [
            {% for workshop in workshops %}
                {{workshop[2]}},
            {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 62, 235)',
                'rgba(255, 26, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgba(200, 102, 255)',
                'rgba(153, 102, 62)',
            ],
            hoverOffset: 4
        }]
    }
  });






</script>



{% endblock %}
