{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Add FAQ's
{% endblock %}

{% block content %}
{{ super() }}

<center>
{% if faqs < 10 %}
    <h1>Add Faqs</h1>
{% else %}
    <h1>Faqs limit exceeded!</h1>
{% endif %}
</center>

<div class="container">
    <form class = 'form' method="post">

        {% if faqs < 10 %}
            {{ form.csrf_token }}
            {{ wtf.form_field(form.question) }}
            {{ wtf.form_field(form.answer) }}
            <button type="submit" class="btn btn-primary" name="add-faq" value="add-faq">Submit</button>
        {% endif %}

        <input type="hidden" name="programId" value="{{program_id}}">

        {% if contacts < 3 %}
            <button type="submit" class="btn btn-primary" name="add-contact-form" value="add-contact-form">Add contact</button>
        {% endif %}

        {% if sponsors < 3 %}
            <button type="submit" class="btn btn-primary" name="add-sponsor-form" value="add-sponsor-form">Add Sponsor's</button>
        {% endif %}

        {% if current_user.role == "admin" %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_manager" %}
            <a class="btn btn-primary" href="{{url_for('event_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('event_coordinator.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_organiser" %}
            <a class="btn btn-primary" href="{{url_for('event_organiser.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_manager" %}
            <a class="btn btn-primary" href="{{url_for('workshop_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('workshop_coordinator.dashboard')}}" role="button">Done</a>
        {% endif %}
    </form>
</div>

{% endblock %}