{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Add FAQ's
{% endblock %}

{% block content %}
{{ super() }}

<center><h1>Add FAQ {{count}}</h1></center>

<div class="container">
    <form class = 'form' method="post">
    	{{ form.csrf_token }}
        {{ wtf.form_field(form.question) }}
        {{ wtf.form_field(form.answer) }}
        <input type="hidden" name="programId" value="{{program_id}}">
        <button type="submit" class="btn btn-primary" name="add-faq-to-program" value="add-contact-to-workshop">Add FAQ</button>
        <button type="submit" class="btn btn-primary" name="add-contact-from-faq" value="add-contact-to-workshop">Add contact</button>

        {% if current_user.role == 1 %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Skip</a>
        {% elif current_user.role == 2 %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Skip</a>
        {% endif %}

    </form>
</div>

{% endblock %}