{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Add Sponsors
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-color: skyblue;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}

<center>
{% if sponsors < 3 %}
    <h1>Add Sponser</h1>
{% else %}
    <h1>Sponsors limit exceeded!</h1>
{% endif %}
</center>

<div class="container">
    <form class = 'form' method="post">

        {% if sponsors < 3 %}
           	{{ form.csrf_token }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.url) }}
            
            <input type="file" class="input-image">
             <div class="item">
                <img class="image_preview" src="http://tzimageupload.s3.amazonaws.com/back.jpg" alt="Add your image"> 
            </div> 

            {{ form.photo.csrf_token }}
            {{ wtf.form_field(form.photo.image, class="hide image")}}
            {{ wtf.form_field(form.photo.cropX, class="hide cropX")}}
            {{ wtf.form_field(form.photo.cropY, class="hide cropY")}}
            {{ wtf.form_field(form.photo.cropWidth, class="hide cropWidth")}}
            {{ wtf.form_field(form.photo.cropHeight, class="hide cropHeight")}}
                
            <button type="submit" class="btn btn-primary" name="add-sponsor" value="add-sponsor">Submit</button>
        {% endif %}

        <input type="hidden" name="programId" value="{{program_id}}">

        {% if contacts < 3 %}
            <button type="submit" class="btn btn-primary" name="add-contact-form" value="add-contact-form">Add Contacts</button>
        {% endif %}

        {% if faqs < 10 %}
            <button type="submit" class="btn btn-primary" name="add-faq-form" value="add-faq-form">Add FAQs</button>
        {% endif %}

        
        {% if current_user.role == "admin" %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_manager" %}
            <a class="btn btn-primary" href="{{url_for('event_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('event_coordinator.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_organiser" %}
            <a class="btn btn-primary" href="{{url_for('event_organiser.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_manager" %}
            <a class="btn btn-primary" href="{{url_for('workshop_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('workshop_coordinator.dashboard')}}" role="button">Done</a>
        {% endif %}
    </form>
</div>

{% endblock %}


{% block scripts %}
{{super()}}


<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

{% endblock %}