{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
Add Workshop
{% endblock %}


{% block content %}
{{ super() }}

<div class="container">
    <form method="post">

       <ul class="form-control" id="contacts">
          
     </ul>
     
    </form>
</div>

<button id="but">ADD</button>

    
{% block javascript %}

<script>

var i = 0;

element = '<li id="ele">  <label for="contacts-'+i+'">Contacts-'+i+'</label> <table id="contacts-'+i+'"><tr> <th><label for="contacts-'+i+'-name">Name</label></th> <td><input id="contacts-'+i+'-name" name="contacts-'+i+'-name" required type="text" value=""></td></tr>  <tr> <th><label for="contacts-'+i+'-email">Email Address</label></th>  <td><input id="contacts-'+i+'-email" name="contacts-'+i+'-email" type="text" value=""></td>  </tr>  <tr>  <th><label for="contacts-'+i+'-phone">Phone Number</label></th> <td><input id="contacts-'+i+'-phone" name="contacts-'+i+'-phone" required type="text" value=""></td> </tr> </table>  </li>';
document.getElementById("but").onclick = function () {

    document.getElementById("contacts").innerHTML += element;
    i++;

    element = '<li id="ele">  <label for="contacts-'+i+'">Contacts-'+i+'</label> <table id="contacts-'+i+'"><tr> <th><label for="contacts-'+i+'-name">Name</label></th> <td><input id="contacts-'+i+'-name" name="contacts-'+i+'-name" required type="text" value=""></td></tr>  <tr> <th><label for="contacts-'+i+'-email">Email Address</label></th>  <td><input id="contacts-'+i+'-email" name="contacts-'+i+'-email" type="text" value=""></td>  </tr>  <tr>  <th><label for="contacts-'+i+'-phone">Phone Number</label></th> <td><input id="contacts-'+i+'-phone" name="contacts-'+i+'-phone" required type="text" value=""></td> </tr> </table>  </li>';

};
</script>

{% endblock %}

{{ ckeditor.load() }}

{% endblock %}