{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
Add Workshop
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-color: skyblue;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}

<center><h1>Add Workshop</h1></center>

<div class="container"> 
    <form id="workshopform" method="post">
        
        {{ form.csrf_token }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.dept) }}
        {{ wtf.form_field(form.fee) }}
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.status) }}
        {{ wtf.form_field(form.about) }}
        {{ wtf.form_field(form.timeline) }}
        {{ wtf.form_field(form.resources) }}

        {{ form.primary_contact.csrf_token }}
        {{ wtf.form_field(form.primary_contact) }}
        
        {{ form.photo.csrf_token }}
        {{ wtf.form_field(form.photo) }}
       

        <input type="file" id="input-image">
        <div class="item">
            <img id="image_preview" src="/static/back.jpg" alt="Add your image"> 
        </div>

        <button type="submit" class="btn btn-primary" name="add-contact" value="Add Contact">Add contacts</button>
        <button type="submit" class="btn btn-primary" name="add-faq" value="Add FAQs">Add FAQs</button>
        <button type="submit" class="btn btn-primary" name="add-sponsor" value="Add Sponsor">Add Sponsors</button>
        <button type="submit" class="btn btn-primary" name="add-workshop" value="submit">Submit</button>

     
       
    </form>
</div>

    
{{ ckeditor.load() }}

{% endblock %}


{% block scripts %}
{{super()}}


<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

{% endblock %}