{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Teckzite 2021
{% endblock%}


{% block styles %}
{{ super() }}
<style>
.footer-block{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}


</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">




<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

{% endblock %}


{% block content %}
<div class="container">
	<br><br>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
</div>
{% endblock %}






{% block html %}
{{ super() }}
<br><br><br><br><br>
{% block javascript %}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

{% endblock %}
<footer class="footer-block page-footer font-small">
	<!--Copyright-->
		<div class="footer-copyright text-center">&#169;2020 admins yet to add
			
		</div>
	<!--Copyright-->
	
</footer>


{% endblock %}

