{% extends 'layout.html' %}

{% block title %}
{{event.title}}|Teams
{% endblock %}

{% block styles %}
{{ super() }}



<style type="text/css">
		
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


</style>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
{% endblock %}


{% block content %}
{{ super() }}
<div>
	<center>
		<h1>{{ event.eventId }}: {{ event.title }}</h1>
	</center>
</div>

<div class="container">

	<table id='teamtable' class="table">
		<thead>
			<tr>
				<th> Team Id </th>
				<th>TZ ID</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email </th>

			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			
				
				
					
							{% for mem in row.members %}

							<tr>
							
								<td>{{ row.teamId }}</td>
								<td>{{mem.userId}}</td>
								<td>{{mem.name}}</td>
								<td>{{mem.phone}}</td>
								<td>{{mem.email}}</td>

							</tr>

							{% endfor %}
								
				
			
			{% endfor %}
							
		</tbody>
	</table>


</div>



{% endblock %}


{% block scripts %}
{{ super() }}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function () {
		var field = $("[name='delete']");
		$('#teamtable').DataTable({
			dom: 'Bfrtip',
			buttons: [
				'excelHtml5'
			]
		});

		$(field).click(function (event) {
			var data = {'teamId': this.value}
			console.log(data);
			$.post('/deleteTeam', data, (data,response) => {
				console.log(response);
				if (response ===  'success') {}
				var row = document.getElementById(this.value);
				row.style.display = "none";
			});
		});
	});
</script>


{% endblock %}
