{% extends "layout.html" %}

{% block title %}
Events
{% endblock %}



{% block content %}
{{ super() }}
<div>
	<center><h1>{{ role }}'s</h1></center>
</div>


<div class="container">

	<table id="mytable" class="display" style="width:100%">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Block</th>

		</tr>
		</thead>
		<tbody>
		{% for row in data %}
			<tr>
				<td>EV{{ row.id }}</td>
				<td>{{ row.title }}</td>
				<td>
					<input type="radio" id="hide" name="hide{{row.id}}" value="hide" checked="">yes
					<input type="radio" id="unhide" name="hide{{row.id}}" value="unhide">no
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


</div>

{% block javascript %}
	{{ super() }}

<script>
    $(document).ready(function() {
    $('#mytable').DataTable().destroy();
    $('#mytable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'excelHtml5'
        ]
    } );
} );

</script>



{% endblock %}


{% endblock %}


