{% extends "layout.html" %}

{% block title %}
Events
{% endblock %}



{% block content %}
{{ super() }}
<div>
	<center><h1>{{ role }}'s</h1></center>
</div>


<div class="container">

	<table id="table" class="display" style="width:100%">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
		{% for row in data['rows'] %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>


</div>

{% block javascript %}
	{{ super() }}

<script>

	
	$(document).ready(function() {
    	$('#example').DataTable();
	} );

	alert(2);

</script>



{% endblock %}


{% endblock %}


