
{% extends "base.html" %}

{% block title %}
Admin
{% endblock %}


{% block content %}
{{ super() }}
	<center>
		<h1>Go to your panel</h1>
	
		<a class="btn btn-primary" href="admin/login/" role="button">Admin</a>
		<a class="btn btn-primary" href="event_manager/login/" role="button">Event Manager</a>
		<a class="btn btn-primary" href="event_coordinator/login/" role="button">Event Coordinator</a>
		<a class="btn btn-primary" href="event_organiser/login/" role="button">Event Organiser</a>
		<a class="btn btn-primary" href="workshop_manager/login/" role="button">Workshop Manager</a>
		<a class="btn btn-primary" href="workshop_coordinator/login/" role="button">Workshop Coordinator</a>
	</center>
	
	
{% endblock %}