{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
Update Workshop 
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}
<center><h1>Update Workshop</h1></center>
<div class="container">
    <div>
    <form class = 'form' method="post">
        
        {{ form.csrf_token }}
        {{ wtf.form_field(form.title, value = workshop.title) }}        
        {{ wtf.form_field(form.fee, value = workshop.fee) }}

        <input type="hidden" id="hidden-status" name="hidden-status" value="{{ markup.status }}">
        {{ wtf.form_field(form.status) }}

        <input type="hidden" id="hidden-description" name="hidden-description" value="{{ markup.description }}">
        {{ wtf.form_field(form.description) }}

        <input type="hidden" id="hidden-about" name="hidden-about" value="{{ markup.about }}">
        {{ wtf.form_field(form.about) }}

        <input type="hidden" id="hidden-timeline" name="hidden-timeline" value="{{ markup.timeline }}">
        {{ wtf.form_field(form.timeline) }}

        <input type="hidden" id="hidden-resources" name="hidden-resources" value="{{ markup.resources }}">
        {{ wtf.form_field(form.resources) }}

        <input type="hidden" name="workshop_id" value="{{workshop.workshopId}}">

        <input type="file" class="input-image">
        <div class="item">
            <img class="image_preview" src="{{workshop.image_url}}" alt="Add your image"> 
        </div>

        {{ form.photo.csrf_token }}
        {{ wtf.form_field(form.photo.image, class="hide image")}}
        {{ wtf.form_field(form.photo.cropX, class="hide cropX")}}
        {{ wtf.form_field(form.photo.cropY, class="hide cropY")}}
        {{ wtf.form_field(form.photo.cropWidth, class="hide cropWidth")}}
        {{ wtf.form_field(form.photo.cropHeight, class="hide cropHeight")}}

        {{ form.photo.csrf_token }}
        {{ wtf.form_field(form.photo.image, class="hide image")}}
        {{ wtf.form_field(form.photo.cropX, class="hide cropX")}}
        {{ wtf.form_field(form.photo.cropY, class="hide cropY")}}
        {{ wtf.form_field(form.photo.cropWidth, class="hide cropWidth")}}
        {{ wtf.form_field(form.photo.cropHeight, class="hide cropHeight")}}

        <button type="submit" class="btn btn-primary" name="update-workshop" value="{{workshop.workshopId}}">Submit</button>
    </form>
    </div>

   
    <form method="POST" action="{{url_for('updateDataView')}}">
            <input type="hidden" name="programId" value="{{workshop.workshopId}}">
            <button type="submit" class="btn btn-primary" name="update-contacts-form" value="{{workshop.workshopId}}">Update contacts</button>
            <button type="submit" class="btn btn-primary" name="update-faqs-form" value="{{workshop.workshopId}}">Update FAQs</button>
            <button type="submit" class="btn btn-primary" name="update-sponsors-form" value="{{workshop.workshopId}}">Update Sponsor</button>
    </form>
    

    {% if current_user.role == "admin" %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_manager" %}
            <a class="btn btn-primary" href="{{url_for('event_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('event_coordinator.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_organiser" %}
            <a class="btn btn-primary" href="{{url_for('event_organiser.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_manager" %}
            <a class="btn btn-primary" href="{{url_for('workshop_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('workshop_coordinator.dashboard')}}" role="button">Done</a>
    {% endif %}

</div>

{% block javascript %}

<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
	$(document).ready(function () {
        document.getElementById('hidden-status').value !== "None" ? CKEDITOR.instances.status.setData( document.getElementById("hidden-status").value ) : "";
        document.getElementById('hidden-description').value !== "None" ? CKEDITOR.instances.description.setData( document.getElementById("hidden-description").value ) : "";
        document.getElementById('hidden-about').value !== "None" ? CKEDITOR.instances.about.setData( document.getElementById("hidden-about").value ) : "";
        document.getElementById('hidden-timeline').value !== "None" ? CKEDITOR.instances.timeline.setData( document.getElementById("hidden-timeline").value ) : "";
        document.getElementById('hidden-resources').value !== "None" ? CKEDITOR.instances.resources.setData( document.getElementById("hidden-resources").value ) : "";
   
</script>


{% endblock %}
    
{{ ckeditor.load() }}

{% endblock %}