{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Update Sponsor's
{% endblock %}

{% block content %}
{{ super() }}
<center><h1>Update Sponsor's</h1></center>



<div class="container">
    <div class="col align-self-end" align="right">
        {% if current_user.role == 1 %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == 2 %}
            <a class="btn btn-primary" href="{{url_for('coordinate.dashboard')}}" role="button">Done</a>
        {% endif %}
        <br><br>
        <form method="post">
            <button type="submit" class="btn btn-primary" name="update-contacts-from" value="{{workshop_id}}">Update Contacts</button>
            <button type="submit" class="btn btn-primary" name="update-faqs-from" value="{{workshop_id}}">Update Faqs</button>
        </form>
    </div>
    {% for sponsor in sponsors %}
        <form class = 'form' method="post">
        	{{ form.csrf_token }}
            {{ wtf.form_field(form.title, value= sponsor.title ) }}
            {{ wtf.form_field(form.url, value=sponsor.url ) }}
            <input type="hidden" name="workshop_id" value="{{workshop_id}}">
            <button type="submit" class="btn btn-primary" name="update-sponsor" value="{{sponsor.id}}">Update</button>
        </form>
        <br><br>
    {% endfor %}
    <form method="POST" action="{{url_for('admin.addWorkshopView')}}">
        <input type="hidden" name="programId" value="{{workshop_id}}">
        <button type="submit" class="btn btn-primary" name="add-sponsor-from" value="add-sponsor-from">Add Sponsor's</button>
    </form>
</div>

{% endblock %}