{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Update Sponsor's
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-color: skyblue;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}
<center><h1>Update Sponsor's</h1></center>



<div class="container">
    <div class="col align-self-end" align="right">
        {% if current_user.role == "admin" %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_manager" %}
            <a class="btn btn-primary" href="{{url_for('event_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('event_coordinator.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_organiser" %}
            <a class="btn btn-primary" href="{{url_for('event_organiser.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_manager" %}
            <a class="btn btn-primary" href="{{url_for('workshop_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('workshop_coordinator.dashboard')}}" role="button">Done</a>
        {% endif %}
        <br><br>
        <form method="POST" action="{{url_for('updateDataView')}}">
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-contacts-form" value="{{program_id}}">Update Contacts</button>
            <button type="submit" class="btn btn-primary" name="update-faqs-form" value="{{program_id}}">Update Faqs</button>
        </form>
    </div  class="container">
    {% for sponsor in sponsors %}
        <div class="container">
        <form class = 'form' method="post">

        	{{ form.csrf_token }}
            {{ wtf.form_field(form.name, value= sponsor.name ) }}
            {{ wtf.form_field(form.url, value=sponsor.url ) }}

            <input type="file" class="input-image">
            <div class="item">
                <img class="image_preview" src="{{sponsor.image_url}}" alt="Add your image"> 
            </div>

            {{ form.photo.csrf_token }}
            {{ wtf.form_field(form.photo.image, class="hide image")}}
            {{ wtf.form_field(form.photo.cropX, class="hide cropX")}}
            {{ wtf.form_field(form.photo.cropY, class="hide cropY")}}
            {{ wtf.form_field(form.photo.cropWidth, class="hide cropWidth")}}
            {{ wtf.form_field(form.photo.cropHeight, class="hide cropHeight")}}

            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-sponsor" value="{{sponsor.id}}">Update</button>

           

        </form>
       
        </div>
        <br><br> <br><br>
    {% endfor %}
    <form method="POST" action="{{url_for('addDataView')}}">
        <input type="hidden" name="programId" value="{{program_id}}">
        <button type="submit" class="btn btn-primary" name="add-sponsor-form" value="add-sponsor-form">Add Sponsor's</button>
    </form>
</div>

{% endblock %}


{% block scripts %}
{{super()}}


<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

{% endblock %}