{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Update Faq's
{% endblock %}

{% block styles %}
{{ super() }}



<style type="text/css">
        
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


</style>

{% endblock %}


{% block content %}
{{ super() }}
<center><h1>Update Faq's</h1></center>



<div class="container">
    <div class="col align-self-end" align="right">
        {% if current_user.role == "admin" %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_manager" %}
            <a class="btn btn-primary" href="{{url_for('event_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('event_coordinator.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "event_organiser" %}
            <a class="btn btn-primary" href="{{url_for('event_organiser.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_manager" %}
            <a class="btn btn-primary" href="{{url_for('workshop_manager.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == "worshop_coordinator" %}
            <a class="btn btn-primary" href="{{url_for('workshop_coordinator.dashboard')}}" role="button">Done</a>
        {% endif %}
        <br><br>
        <form method="POST" action="{{url_for('updateDataView')}}">
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-contacts-form" value="{{program_id}}">Update Contacts</button>
            <button type="submit" class="btn btn-primary" name="update-sponsors-form" value="{{program_id}}">Update Sponsor</button>
        </form>
    </div>
    {% for faq in faqs %}
        <form class = 'form' method="post">

        	{{ form.csrf_token }}
            {{ wtf.form_field(form.question, value= faq.question ) }}
            {{ wtf.form_field(form.answer, value=faq.answer ) }}
            {% if faq.hidden == 1 %}
                <div class="material-switch pull-right">
                        <input id="{{faq.id}}" name="hide" value="{{program_id}}"  type="checkbox" checked />
                        <label for="{{faq.id}}" class="label-default"><br>Hide</label>
                </div>

                {% else %}
                <div class="material-switch pull-right">
                        <input id="{{faq.id}}" name="hide" value="{{program_id}}" type="checkbox" />
                        <label for="{{faq.id}}" class="label-default"><br>Hide</label>
                </div>
            {% endif %}
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-faq" value="{{faq.id}}">Update</button>
        </form>
        <br><br>
    {% endfor %}
    <form method="POST" action="{{url_for('addDataView')}}">
        <input type="hidden" name="programId" value="{{program_id}}">
        <button type="submit" class="btn btn-primary" name="add-faq-form" value="add-faq-form">Add FAQs</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('input[type="checkbox"][name="hide"]').change(function () {
            if(this.checked) {
                var data = {'id':this.id, 'program_id':this.value, 'value':'hide'};
                 $.post('/hideFaq', data, (data,status) => {
                        console.log(status)
                })
                    .fail(function(response){
                        document.getElementById(field).checked = false;
                    });
            }
            else{
                var data = {'id':this.id, 'program_id':this.value, 'value':'unhide'};
                $.post('/hideFaq', data, (data,status) => {
                        console.log(status)
                })
                    .fail(function(response){
                        document.getElementById(field).checked = true;
                    });
            }
        });
    });
</script>

{% endblock %}