{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Update Sponsor's
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-color: skyblue;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}
<center><h1>Update Sponsor's</h1></center>



<div class="container">
    <div class="col align-self-end" align="right">
        {% if current_user.role == 1 %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == 2 %}
            <a class="btn btn-primary" href="{{url_for('coordinate.dashboard')}}" role="button">Done</a>
        {% endif %}
        <br><br>
        <form method="POST" action="{{url_for('admin.updateDataView')}}">
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-contacts-form" value="{{program_id}}">Update Contacts</button>
            <button type="submit" class="btn btn-primary" name="update-faqs-form" value="{{program_id}}">Update Faqs</button>
        </form>
    </div>
    {% for sponsor in sponsors %}
        <form class = 'form' method="post">
        	{{ form.csrf_token }}
            {{ wtf.form_field(form.name, value= sponsor.name ) }}
            {{ wtf.form_field(form.url, value=sponsor.url ) }}

            {{ form.photo.csrf_token }}
            {{ wtf.form_field(form.photo) }}
       

            <input type="file" id="input-image">
            <div class="item">
                <img id="image_preview" src="{{sponsor.image_url}}" alt="Add your image"> 
            </div>

            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-sponsor" value="{{sponsor.id}}">Update</button>
        </form>
        <br><br>
    {% endfor %}
    <form method="POST" action="{{url_for('admin.addDataView')}}">
        <input type="hidden" name="programId" value="{{program_id}}">
        <button type="submit" class="btn btn-primary" name="add-sponsor-form" value="add-sponsor-form">Add Sponsor's</button>
    </form>
</div>

{% endblock %}


{% block scripts %}
{{super()}}


<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

{% endblock %}