{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Update Contacts
{% endblock %}


{% block styles %}
{{ super() }}



<style type="text/css">
        
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


</style>

{% endblock %}


{% block content %}
{{ super() }}
<center><h1>Update Contacts</h1></center>



<div class="container">
    <div class="col align-self-end" align="right">
        {% if current_user.role == 1 %}
            <a class="btn btn-primary" href="{{url_for('admin.dashboard')}}" role="button">Done</a>
        {% elif current_user.role == 2 %}
            <a class="btn btn-primary" href="{{url_for('coordinate.dashboard')}}" role="button">Done</a>
        {% endif %}
        <br><br>
        <form method="POST" action="{{url_for('admin.updateDataView')}}">
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-faqs-form" value="{{program_id}}">Update FAQs</button>
            <button type="submit" class="btn btn-primary" name="update-sponsors-form" value="{{program_id}}">Update Sponsor</button>
        </form>
        <br><br>
    </div>
    {% for contact in contacts %}
        <form class = 'form' method="post">
        	{{ form.csrf_token }}
            {{ wtf.form_field(form.name, value= contact.name ) }}
            {{ wtf.form_field(form.email, value=contact.email ) }}
            {{ wtf.form_field(form.phone, value=contact.phone ) }}
            {% if contact.hidden == 1 %}
                <div class="material-switch pull-right">
                        <input id="{{contact.id}}" name="hide" value="{{program_id}}" type="checkbox" checked />
                        <label for="{{contact.id}}" class="label-default"><br>Hide</label>
                </div>

                {% else %}
                <div class="material-switch pull-right">
                        <input id="{{contact.id}}" name="hide" value="{{program_id}}" type="checkbox" />
                        <label for="{{contact.id}}" class="label-default"><br>Hide</label>
                </div>
            {% endif %}
            <input type="hidden" name="programId" value="{{program_id}}">
            <button type="submit" class="btn btn-primary" name="update-contact" value="{{contact.id}}">Update</button>
        </form>
        <br><br>
    {% endfor %}
    <form method="POST" action="{{url_for('admin.addDataView')}}">
        <input type="hidden" name="programId" value="{{program_id}}">
        <button type="submit" class="btn btn-primary" name="add-contact-form" value="add-contact-form">Add Contacts</button>
    </form>

</div>




<script>
    $(document).ready(function () {
        $('input[type="checkbox"][name="hide"]').change(function () {
            if(this.checked) {
                var data = {'id':this.id, 'program_id':this.value, 'value':'hide'}
            }
            else{
                var data = {'id':this.id, 'program_id':this.value, 'value':'unhide'}
            }
            $.post('/hideContact', data, (data,status) => {console.log(status)});
        });
    });
</script>

{% endblock %}