{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
Update Event 
{% endblock %}

{% block styles %}
{{ super() }}
<style>

img {
    max-width: 100%;
    height: auto;
}

.item {
    display: block;
    width: 600px;
    min-height: 300px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-color: skyblue;
}

</style>
<link rel="stylesheet" href="/static/cropperjs-master/dist/cropper.css"/>

{% endblock %}

{% block content %}
{{ super() }}
<center><h1>Update Event</h1></center>
<div class="container">
    <div>
    <form class = 'form' method="post">
        
        {{ form.csrf_token }}
        {% if current_user.role == 1 %}
        	{{ wtf.form_field(form.title, value = event.title) }}
        {% else %}
        	{{ wtf.form_field(form.title, value = wvwnt.title, readonly=true) }}
        {% endif %}
        {{ wtf.form_field(form.prize, value = event.prize) }}

        <input type="hidden" id="hidden-status" name="hidden-status" value="{{ markup.status }}">
        {{ wtf.form_field(form.status) }}

        <input type="hidden" id="hidden-description" name="hidden-description" value="{{ markup.description }}">
        {{ wtf.form_field(form.description) }}

        <input type="hidden" id="hidden-brief" name="hidden-brief" value="{{ markup.brief }}">
        {{ wtf.form_field(form.brief) }}

        <input type="hidden" id="hidden-timeline" name="hidden-timeline" value="{{ markup.timeline }}">
        {{ wtf.form_field(form.timeline) }}

        <input type="hidden" id="hidden-structure" name="hidden-structure" value="{{ markup.structure }}">
        {{ wtf.form_field(form.structure) }}

        <input type="hidden" id="hidden-rules" name="hidden-rules" value="{{ markup.rules }}">
        {{ wtf.form_field(form.rules) }}

        {{ wtf.form_field(form.min_teamsize, value = event.min_teamsize) }}
        {{ wtf.form_field(form.max_teamsize, value = event.max_teamsize) }}

        <input type="hidden" name="event_id" value="{{event.id}}">

        <input type="file" class="input-image">
        <div class="item">
            <img class="image_preview" src="{{event.image_url}}" alt="Add your image"> 
        </div>


        {{ form.photo.csrf_token }}
        {{ wtf.form_field(form.photo.image, class="hide image")}}
        {{ wtf.form_field(form.photo.cropX, class="hide cropX")}}
        {{ wtf.form_field(form.photo.cropY, class="hide cropY")}}
        {{ wtf.form_field(form.photo.cropWidth, class="hide cropWidth")}}
        {{ wtf.form_field(form.photo.cropHeight, class="hide cropHeight")}}

        <button type="submit" class="btn btn-primary" name="update-event" value="{{event.id}}">Submit</button>
    </form>
    </div>

   
    <form method="POST" action="{{url_for('admin.updateDataView')}}">
            <input type="hidden" name="programId" value="{{event.eventId}}">
            <button type="submit" class="btn btn-primary" name="update-contacts-form" value="{{event.id}}">Update contacts</button>
            <button type="submit" class="btn btn-primary" name="update-faqs-form" value="{{event.id}}">Update FAQs</button>
            <button type="submit" class="btn btn-primary" name="update-sponsors-form" value="{{event.id}}">Update Sponsor</button>
    </form>
    
</div>

{% block javascript %}

<script src="/static/cropperjs-master/dist/cropper.js"></script>
<script src="/static/imageUpload.js"></script>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
	$(document).ready(function () {
		CKEDITOR.instances.status.setData( document.getElementById("hidden-status").value );
		CKEDITOR.instances.brief.setData( document.getElementById("hidden-brief").value );        
		CKEDITOR.instances.description.setData( document.getElementById("hidden-description").value );
		CKEDITOR.instances.structure.setData( document.getElementById("hidden-structure").value );
		CKEDITOR.instances.timeline.setData( document.getElementById("hidden-timeline").value );
		CKEDITOR.instances.rules.setData( document.getElementById("hidden-rules").value );
	});
   
</script>



{% endblock %}
    
{{ ckeditor.load() }}

{% endblock %}