{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Upload Image
{% endblock %}

{% block content %}
{{ super() }}

<center><h1>Upload Image</h1></center>

<div class="container">


    <form class = 'form' method="post" enctype="multipart/form-data">
       <input type="file" name="image">
        <button type="submit"> Submit </button>
    </form>

    <br>

    <h1> Images uploaded </h1>

    <br>
    <div>
        {% for image_url in images %}
            <a href="{{ image_url }}"> {{ image_url }}</p>
        {% endfor %}
    </div>
    
</div>

{% endblock %}