{% extends 'layout.html' %}

{% block title %}
{{ role }}
{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}


{% block content %}
{{ super() }}
<div>
	<center>
		<h1>{{ role }}'s</h1>
	</center>
</div>

<div class="container">

	<table id='usertable' class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>E-mail</th>
				<th>Branch</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>Block</th>

			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr>
				<td>{{ row.id }}</td>
				<td>{{ row.name }}</td>
				<td>{{ row.email }}</td>
				<td>{{ row.dept }}</td>
				<td>{{ row.gender }}</td>
				<td>{{ row.phone }}</td>
				<td id="radioDiv" data-name="radio">
					{% if row.hidden == 1 %}
					<input type="radio" onclick=status(this) id="hide" name="{{row.id}}" value="hide" checked>yes
					<input type="radio" onclick=status(this) id="unhide" name="{{row.id}}" value="unhide">no
					{% else %}
					<input type="radio" onclick=status(this) id="hide" name="{{row.id}}" value="hide">yes
					<input type="radio" onclick=status(this) id="unhide" name="{{row.id}}" value="unhide" checked>no
					{% endif %}


				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


</div>



{% endblock %}


{% block scripts %}

{{ super() }}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function () {
		$('#usertable').DataTable().destroy();
		$('#usertable').DataTable({
			dom: 'Bfrtip',
			buttons: [
				'excelHtml5'
			]
		});
	});

	function status(elem) {	
		var data = {"id": elem.name, "value": elem.value};
		$.post('/userUpdate', data, function(data, status){
			console.log(status);
		});  		
	}

</script>


{% endblock %}
